.input-group{
padding-bottom: 10px;

}
.question{
    
    font-weight: bolder;
}
.heading{
    color:blue;
}
.page_title {
    width: 100%;
    height: 15px;
    padding-top: 0px;
    background: url(../images/slider-bg.jpg) no-repeat center top;
    margin: 0;
    display:block;
}
th.text-center {
    background-color: #ddd;
    
}
.table{

    font-size: small !important;
}